body{
    background-color: #dddddd;
    color: #ffffff;
}

.box{
    width: 320px;
    height: 600px;
    background-color: #222831;
    border-radius: 50px;
    border: white 10px solid;
    margin: 75px auto;
    padding: 10px;
}

.notch{
    background-color: #ffffff;
    width: 160px;
    height: 25px;
    border-radius: 75px;
    position: relative;
    left: 65px;
    bottom: 15px;
}

.time{
    display: flex;
    justify-content: space-between;

}

.weekly{
    display: flex;
    justify-content: space-between;
    color: #000000;
    background-color: #30475e;
    width: 300px;
    position: relative;
    right: 10px;
    padding: 5px;
}
.daily{
    display: flex;
    justify-content: space-between;
}